{% extends 'base.html.twig' %}

{% block title %}My-Ecoach{% endblock %}

{% block body %}
<h1 style="text-align:center; margin-top: 10px">Mes messages</h1>
<div id="app" data-username="{{ app.user.username }}"></div>

{% endblock %}

{% block javascript %}
  {{ encore_entry_script_tags('app') }}
{% endblock %}
