{% extends 'base.html.twig' %}

{% block title %}My-Ecoach{% endblock %}

{% block body %}
<div class="col-md-5 p-lg-5 mx-auto my-5">
  <h1 class="display-4 font-weight-normal">Les messages</h1>
  {% if app.user.Iscoach == true %}
  <p class="lead font-weight-normal">Envoyer des messages à vos client</p>
  {% else %}
  <p class="lead font-weight-normal">Envoyer des messages à votre coach</p>
  {% endif %}
</div>
<div id="app" data-username="{{ app.user.username }}"></div>

{% endblock %}

{% block javascript %}
  {{ encore_entry_script_tags('app') }}
{% endblock %}
