{% extends 'base.html.twig' %}

{% block title %}My-Ecoach{% endblock %}

{% block body %}
<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
</style>
<div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Bienvenue sur <br>My e-Coach !</h1>
    <p class="lead text-muted">L'oganisation du coach</p>
</div>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3">
  
    <h2>Partagez votre amour du sport de particulier à particulier :</h2><br>
<p>
  Vous êtes un sportif régulier ? Vous avez l'habitude d'aider vos amis lors de séances de musculation ?<br>
  Pourquoi pas vous professionnaliser ?<br>
  Proposez vos services à des particuliers, de votre salle de sport habituelle ou non, grâce à My-Ecoach !<br>
  My-Ecoach permet à des sportifs et des connaisseurs de s'organiser, de se lier à une clientèle et pleins d'autres fonctionnalités encore :
</p>
<ul>
  <li>Rédigez des notes de séance personnalisées</li>
  <li>Proposez des produits à votre clientèle (alimentaire, matériel, etc..)</li>
  <li>Gardez un oeil sur votre calendrier et vos séances</li>
  <li>Discutez avec vos clients grâce au chat</li>
</ul>
<p>
  Une solution pour éviter les désagréments du coaching sauvage, et bénéficier d'un outil organisationnel complet, et gratuit.
</p>
</div>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light">
  <p class="lead text-muted">Équipe de développement :</p><br>
  <div class="row">
    <div class="col-md-2">
      <div class="card mb-4 shadow-sm">
          <img class="bd-placeholder-img card-img-top" width="100%" height="100%" src="{{ asset('/img/Moha.png') }}" alt="Image not Found"></img>
        <div class="card-body">
          <h5 class="card-title"> 
            Mohamed BACHIR
        </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Chef de projet / Développeur 
          </h6>
          <p class="card-text">
            Mohamed...
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a type="button" class="btn btn-sm btn-outline-secondary" href="https://www.linkedin.com/in/mohamed-bachir-dev/">Linkedin</a>
              <a type="button" class="btn btn-sm btn-outline-secondary" href="https://intra.etna-alternance.net/#/user/bachir_a">Fiche</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
  </div>
  
  <div class="row">
    <div class="col-md-2">
      <div class="card mb-4 shadow-sm">
          <img class="bd-placeholder-img card-img-top" width="100%" height="100%" src="{{ asset('/img/Lucas.png') }}" alt="Image not Found"></img>
        <div class="card-body">
          <h5 class="card-title"> 
            Lucas GRARD
        </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Développeur 
          </h6>
          <p class="card-text">
            Lucas...
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a type="button" class="btn btn-sm btn-outline-secondary" href="https://www.linkedin.com/in/lucas-grard/">Linkedin</a>
              <a type="button" class="btn btn-sm btn-outline-secondary" href="https://intra.etna-alternance.net/#/user/grard_l">Fiche</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card mb-4 shadow-sm">
        <img class="bd-placeholder-img card-img-top" width="100%" height="100%" src="{{ asset('/img/Zahreddine.png') }}" alt="Image not Found"></img>
      <div class="card-body">
        <h5 class="card-title"> 
          Zahreddine LAIDI
      </h5>
        <h6 class="card-subtitle mb-2 text-muted">
          Développeur
        </h6>
        <p class="card-text">
          Zahreddine...
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a type="button" class="btn btn-sm btn-outline-secondary" href="https://www.linkedin.com/in/zahreddinelaidi/">Linkedin</a>
            <a type="button" class="btn btn-sm btn-outline-secondary" href="https://intra.etna-alternance.net/#/user/laidi_z">Fiche</a>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="col-md-2">
      <div class="card mb-4 shadow-sm">
        <img class="bd-placeholder-img card-img-top" width="100%" height="100%" src="{{ asset('/img/Clerger.png') }}" alt="Image not Found"></img>
      <div class="card-body">
        <h5 class="card-title"> 
          Julien CLERGER
      </h5>
        <h6 class="card-subtitle mb-2 text-muted">
          Développeur 
        </h6>
        <p class="card-text">
          Julien...
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a type="button" class="btn btn-sm btn-outline-secondary" href="https://www.linkedin.com/in/julien-clerger/">Linkedin</a>
            <a type="button" class="btn btn-sm btn-outline-secondary" href="https://intra.etna-alternance.net/#/user/clerge_j">Fiche</a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

{% endblock %}